body{
 margin:30px auto;
  font-family: 'Ubuntu', sans-serif;
  background-image:url('https://9tailedkitsune.com/wp-content/uploads/2020/10/Snimka-obrazovky-469.jpg');
  background-size: 2000px 1100px;
  width: 2000px;
  height: 1000px;
  border: 5px solid rgba(100,82,86);
  color: pink;
  position: relative;
  text-align: center;
  padding: 10px;
 }
img {
  border-radius: 50%;
  opacity:0.5;
}

.box{
  width:360px;
  position: absolute;
  margin:25px;
  padding:10px;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  
}
.box h2{
  width:300px;
  font-size:40px;
  border-bottom:6px solid;
  margin:10px;
  padding:15px;
}