body{
  max-width:2000px;
  width: 100%;
  margin:30px auto;
  font-family: 'Ubuntu', sans-serif;
   background-image:url('https://9tailedkitsune.com/wp-content/uploads/2020/10/Snimka-obrazovky-469.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
 }



div{
  align-text:center;
}

.col{
  width:100px;
  margin: 25px auto;
  padding:20px;
  background-color:pink;
}
.card-body{
  margin:50px auto;
  border:black;
  
}
.carousel-inner{
  height:1000px;
  width: 30px;
  transition:opacity .15s ease;
  color:white;
  hit-area-height: 10px;
  spacer:3px;
  margin:10px;
 
  transition: opacity .6s ease;
}

.carousel{
 
}